.project-item {
  padding: 5px 0;

  line-height: 1.25;
  cursor: pointer;
  .item {
    &__title {
      position: relative;

      font-family: "Space Grotesk";
      font-size: 8.5vw;
      text-transform: lowercase;
      line-height: 1.1;

      z-index: 1;

      h2 {
        &:not(.clone) {
          -webkit-text-stroke: 1px #000;
          color: transparent;
          cursor: pointer;

          &:hover ~ .clone {
            clip-path: inset(0 0 0 0);
          }
        }
        &.clone {
          position: absolute;
          top: 0;

          color: black;
          pointer-events: none;
          clip-path: inset(0 100% 0 0);

          transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
    }

    &__image {
      position: fixed;
      top: 30vh;
      left: 45vw;
      width: auto;
      height: clamp(200px, 25vw, 25vw);

      object-fit: cover;
      pointer-events: none;

      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__infos {
      position: fixed;
      top: 50%;
      left: 70vw;

      transform: translateY(-50%);
      text-align: left;
      font-size: 20px;

      z-index: 1;

      > p {
        margin-bottom: 20px;

        color: #000;
        font-weight: 500;
        font-size: 24px;

        > span {
          display: flex;

          align-items: center;
          opacity: 0;

          transition: all 0.25s ease-in-out;

          > svg {
            margin-right: 5px;
          }
        }
      }

      > ul {
        > li {
          color: #999;
          overflow: hidden;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          > span {
            display: block;

            opacity: 0;
            transform: translateY(-10px);

            transition: all 0.25s ease-in-out;
          }
        }
      }

      &.is-active {
        @for $i from 0 through 4 {
          li:nth-child(#{$i + 1}n) {
            span {
              transition-delay: #{$i/10}s;
            }
          }
        }

        span {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
