.app-header {
  position: fixed;
  inset: 0;
  padding: 50px 0 0 70vw;

  box-sizing: border-box;
  z-index: 1;

  .header {
    &__nav {
      display: flex;
      gap: 20px;

      align-items: center;

      > a {
        color: #000;
        text-decoration: none;

        transition: opacity 0.35s ease-in-out;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
